.inputBesideSelect .mat-form-field-infix {
  padding: 0 !important;
}

.tabsContainer {
  margin-top: 3rem;
  padding: 3rem 1.5rem;
  border: 1px solid #a66c15;
  border-radius: 10px 0 10px 10px;
}

.rowContainer {
  border-radius: 10px 0 10px 10px;
  border: 0.5px solid #c28a30;
  padding: 0em 1em;
}

.alert-danger {
  position: absolute;
  top: -15px;
  right: 0;
  padding: 0;
  color: #ff0000;
  background: none;
  border: none;
  font-size: 11px;
}

.alert-danger.RelativeAlert {
  margin-top: 2em;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: block;
  position: relative;
  background: rgba(255, 0, 0, 0.55);
  color: #fff;
  border: none;
  text-align: center;
  font-size: 14px;
}
