<tabset class="tabs" type="pills" #addrequestformTabs>
  <tab [heading]="'Company Info'">
    <div class="mt-5">
      <div class="whiteContainer">
        <div class="row">
          <div class="col-12">
            <app-title
              title="{{ 'company.title' | translate }}"
              [bigTitle]="true"
            ></app-title>
          </div>
        </div>
        <div class="col-12 mt-5 formTableContainer">
          <div class="formTable">
            <form
              class="mt-2"
              name="form"
              class="example-form"
              method="post"
              [formGroup]="companyForm"
              (keydown.enter)="$event.preventDefault()"
              (ngSubmit)="onSubmit()"
              novalidate
              xmlns="http://www.w3.org/1999/html"
              autocomplete="off"
            >
              <div class="mt-5">
                <div class="row">
                  <div class="col-lg-4 col-sm-6 col-12">
                    <mat-form-field
                      class="example-full-width inputBesideSelect"
                    >
                      <mat-label>
                        {{ "company.name " | translate }}
                      </mat-label>
                      <input
                        type="text"
                        class="form-control"
                        matInput
                        formControlName="companyName"
                        placeholder="{{ 'company.name' | translate }}"
                        required
                      />
                      <div
                        *ngIf="
                          companyForm.get('companyName').invalid &&
                          (companyForm.get('companyName').dirty ||
                            companyForm.get('companyName').touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="companyForm.get('companyName').errors.required"
                        >
                          {{
                            "common.validationStatement.required" | translate
                          }}
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <mat-form-field
                      class="example-full-width inputBesideSelect"
                    >
                      <mat-label>
                        {{ "company.address " | translate }}
                      </mat-label>
                      <input
                        type="text"
                        class="form-control"
                        matInput
                        formControlName="companyAddress"
                        placeholder="{{ 'company.address' | translate }}"
                        required
                      />
                      <div
                        *ngIf="
                          companyForm.get('companyAddress').invalid &&
                          (companyForm.get('companyAddress').dirty ||
                            companyForm.get('companyAddress').touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="
                            companyForm.get('companyAddress').errors.required
                          "
                        >
                          {{
                            "common.validationStatement.required" | translate
                          }}
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <mat-form-field
                      class="example-full-width inputBesideSelect"
                    >
                      <mat-label>
                        {{ "company.phone " | translate }}
                      </mat-label>
                      <input
                        type="text"
                        class="form-control"
                        matInput
                        formControlName="companyPhone"
                        placeholder="{{ 'company.phone' | translate }}"
                        required
                      />
                      <div
                        *ngIf="
                          companyForm.get('companyPhone').invalid &&
                          (companyForm.get('companyPhone').dirty ||
                            companyForm.get('companyPhone').touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="
                            companyForm.get('companyPhone').errors.required
                          "
                        >
                          {{
                            "common.validationStatement.required" | translate
                          }}
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-sm-6 col-12">
                    <mat-form-field
                      class="example-full-width inputBesideSelect"
                    >
                      <mat-label>
                        {{ "company.email " | translate }}
                      </mat-label>
                      <input
                        type="text"
                        class="form-control"
                        matInput
                        formControlName="companyEmail"
                        placeholder="{{ 'company.email' | translate }}"
                        required
                      />
                      <div
                        *ngIf="
                          companyForm.get('companyEmail').invalid &&
                          (companyForm.get('companyEmail').dirty ||
                            companyForm.get('companyEmail').touched)
                        "
                        class="alert alert-danger"
                      >
                        <div
                          *ngIf="
                            companyForm.get('companyEmail').errors.required
                          "
                        >
                          {{
                            "common.validationStatement.required" | translate
                          }}
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--     <div class="row">
              <div class="col-12 mt-2">
              <button type="button"
              class="btn btn-primary mr-auto bottomButtons"
              routerLink="/pages/cosmetics-product/inner/createOrEdit-premix">
                {{'premix.AddNewPremix' | translate}}
                </button>
              </div>
          </div> -->
        <div class="row">
          <div class="col-12 mt-5 borderTop pt-5">
            <app-title title="Company Users" [smallTitle]="true"></app-title>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-2">
            <div class="tableContainer" *ngIf="usersList">
              <app-table-list
                [data]="usersList"
                [whichTable]="'usersList'"
                (AddRoleForUser)="OpenAddRoleModal($event)"
              ></app-table-list>
            </div>
          </div>
        </div>

        <!-- Extra section needed to show company types-->
        <div class="row">
          <div class="col-12 mt-5 borderTop pt-5">
            <app-title title="Company Types" [smallTitle]="true"></app-title>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-2">
            <div class="tableContainer" *ngIf="companyTypes">
              <app-table-list
                [data]="companyTypes"
                [whichTable]="'companyTypes'"
              ></app-table-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>

  <tab [heading]="'Assign Roles'">
    <div class="whiteContainer">
      <form [formGroup]="AddRoles">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-12">
            <div class="form-group">
              <mat-form-field appearance="fill">
                <mat-label>Choose Role</mat-label>
                <mat-select formControlName="Roles">
                  <mat-option *ngFor="let role of AllRoles" [value]="role.id">
                    {{
                      currentLang === "ar" ? role.name.ar : role.name.en
                    }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12 mt-5 borderTop pt-5">
          <app-title title="Company Services" [smallTitle]="true"></app-title>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-2">
          <div class="tableContainer" *ngIf="ServiceList">
            <app-table-list
              [data]="ServiceList"
              [whichTable]="'ServiceList'"
              (AssignService)="GetSelectedService($event)"
            ></app-table-list>
          </div>
        </div>
      </div>

      <div class="row">
        <button class="btn btn-primary" (click)="onSubmit()">Add role</button>
      </div>
    </div>
  </tab>

  <!-- <tab [heading]="'Define roles'">
    <div class="mt-3">
      <div class="whiteContainer">
        <div class="row">
          <div class="col-12">
            <app-title title="Define new roles" [bigTitle]="true"></app-title>
          </div>
        </div>
      </div>
    </div>
  </tab> -->
</tabset>

<alert
  type="danger"
  dismissible="true"
  class="AlertForAllRequests"
  (onClosed)="onClosedErrorAlert()"
  *ngIf="alertErrorNotificationStatus"
>
  <strong>Error Message</strong> <br />
  {{ alertErrorNotification.msg }}
</alert>

<alert
  type="success"
  dismissible="true"
  class="AlertForAllRequests"
  (onClosed)="onClosedErrorAlert()"
  *ngIf="alertSuccessNotificationStatus"
>
  <strong>Success Message</strong> <br />
  {{ alertSuccessNotification.msg }}
</alert>

<app-loader-component [loadingStatus]="isLoading"></app-loader-component>

<ng-template #addRoleUserModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add role for selected user</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="UserRoleForm">
      <div class="row">
        <div class="col-lg-4 col-sm-6 col-12">
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Choose Role</mat-label>
              <mat-select formControlName="Roles">
                <mat-option *ngFor="let role of AllRoles" [value]="role.id">
                  {{
                    currentLang === "ar" ? role.name.ar : role.name.en
                  }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="SubmitAdduserRole()">
      Yes
    </button>
    <button
      type="button"
      class="btn btn-primary ml-auto"
      (click)="modalRef.hide()"
    >
      No
    </button>
  </div>
</ng-template>

<!-- here is the modal needed to confirm delete a selected role-->
<ng-template #addRoleUserModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm delete a selected role</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h3 class="text-center">Are you sure to delete the selected role ? !</h3>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="SubmitAdduserRole()">
      Yes
    </button>
    <button
      type="button"
      class="btn btn-primary ml-auto"
      (click)="modalRef.hide()"
    >
      No
    </button>
  </div>
</ng-template>
